<div class="jumbotron text-center">
  <h2>
    <%= I18n.t("app.headings") %>
  </h2>
  <p><%= I18n.t("app.welcome", val: @member.name ) %></p>
</div>
<% if @headings.present? %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th><%= I18n.t("model.heading.tag") %></th>
          <th><%= I18n.t("model.heading.text") %></th>
          <th><%= I18n.t("app.created_at") %></th>
          <th><%= I18n.t("app.updated_at") %></th>
        </tr>
      </thead>
      <tbody>
        <% @headings.each do |header| %>
          <tr class='<%= cycle("success", "active") %>'>
            <td><b><%= header.id %></b></td>
            <td><%= header.tag %></td>
            <td title="<%= header.text %>">
              <%= header.text %>
            </td>
            <td><%= header.created_at.to_date %></td>
            <td><%= header.updated_at.to_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @headings %>
  </div>
<% else %>
  <h2 class="text-center">
    <%= I18n.t("app.no_result", val: I18n.t("app.headings")) %>
  </h2>
<% end %>
